
<div class="grid justify-center">
  <h1 class="grid justify-center text-xl">All Courses</h1>
  <% @courses.each do |course| %>
  <div class="grid justify-center border mt-3 p-4 w-56">
    <p class="text-base"><span class="text-xl"><%= link_to course.name, golf_course_path(course) %></span> is a <%= course.holes %> hole golf course located in <%= course.location %></p>
    <% if course.picture.attached? %>
      <%= image_tag(course.picture.variant(:courses_page)) %>
    <% end %>
  </div>
  <%end%>
</div>

